@use 'variables';
html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-family-primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: var(--font-family-secondary);
    font-weight: 700;
    line-height: 1.1;
    color: variables.$color-primary-gray-dark-blue;
}
h1, h2 {
    font-size: 4rem;
}

@media (min-width: 63em) {
    h1 {
        font-size: 5rem;
        line-height: 1;
    }
}