/* Colors */
$color-primary-cyan: hsl(167, 36%, 54%);
$color-primary-darkblue: hsl(205, 41%, 21%);
$color-primary-gray-dark-blue: hsl(246, 9%, 22%);

$color-secondary-lightgray-bg: hsl(0, 0%, 98%);
$color-secondary-lightgray-text: hsl(0, 0%, 59%);
$color-secondary-red: hsl(0, 90%, 57%);

// $color-text-heading: hsl(245, 10%, 22%);
$color-white: hsl(0, 0%, 100%);
$color-dark-gray: hsl(245, 10%, 22%);

// font size
$font-size-12: 1.2rem;

$border-color: rgba(hsl(0, 0%, 59%), .15);
$border-color-2: rgba(hsl(245, 10%, 22%), .15);

// Media Breakpoint
$tablet: 76.8em;

